In [115]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
print("Libraries imported successfully")

Libraries imported successfully

In [116]:
URL = 'https://www.worldometers.info/coronavirus/'
page = requests.get(URL)
soup = bs(page.content, 'html.parser')
##print(soup)

In [117]:
results = soup.find(id='main_table_countries_today')
##print(results.prettify())

In [118]:
headings = []
th_headings = results.find_all("th")
for th_heading in th_headings:
    th_heading = (th_heading.text).strip("\n")
    headings.append(th_heading)
print(headings)

['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop', 'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl']

In [119]:
newDataFrame = []

for row in results.find_all('tr'):
    rows = []
    
    for cell in row.find_all('td'):
        rows.append((cell.text).strip("\n"))
    
    if(len(rows)> 0):
        data = {
                headings[0]: rows[0],
                headings[1]: rows[1],
                headings[2]: rows[2],
                headings[3]: rows[3],
                headings[4]: rows[4],
                headings[5]: rows[5],
                headings[6]: rows[6],
                headings[7]: rows[7],
                headings[8]: rows[8],
                headings[9]: rows[9],
                headings[10]: rows[10],            
        }
        
        newDataFrame.append(data)

In [120]:
df =pd.DataFrame(newDataFrame)
print(df.head(15))

    #  Country,Other  TotalCases NewCases TotalDeaths NewDeaths  \
0      North America  25,933,086  +16,935     552,109    +1,144
1               Asia  21,403,064   +1,539     347,528       +25
2      South America  13,908,737   +1,644     375,705       +23
3             Europe  25,748,035              586,193
4             Africa   3,037,007               72,216
5            Oceania      48,987      +43       1,067
6                            721                   15
7              World  90,079,637  +20,161   1,934,833    +1,192
8   1            USA  22,699,938             381,480
9   2          India  10,451,346             151,048
10  3         Brazil   8,075,998             202,657
11  4         Russia   3,379,103              61,381
12  5             UK   3,017,409              80,868
13  6         France   2,767,312              67,599
14  7         Turkey   2,317,118              22,631

   TotalRecovered NewRecovered ActiveCases Serious,Critical Tot Cases/1M pop
0      15,888,609       +8,438   9,492,368           34,886
1      19,876,497       +2,070   1,179,039           24,008
2      12,395,199         +822   1,137,833           18,587
3      13,808,653               11,353,189           28,547
4       2,461,292                  503,499            2,468
5          33,643          +21      14,277               21
6             706                        0                0
7      64,464,599      +11,351  23,680,205          108,517           11,556
8      13,393,078                8,925,380           29,012           68,368
9      10,075,950         +555     224,348            8,944            7,535
10      7,144,011                  729,330            8,318           37,853
11      2,754,809                  562,913            2,300           23,150
12      1,406,967                1,529,574            3,098           44,326
13        202,165                2,497,548            2,609           42,346
14      2,190,047                  104,440            2,903           27,320

In [141]:
#check column data types
df.dtypes

#                   object
Country,Other       object
TotalCases          object
NewCases            object
TotalDeaths         object
NewDeaths           object
TotalRecovered      object
NewRecovered        object
ActiveCases         object
Serious,Critical    object
Tot Cases/1M pop    object
dtype: object

In [142]:
#rename the columns
mydf = df.rename(columns={"#": "Index", "Country,Other": "Countries", "Serious,Critical":"CriticalCases", "Tot\xa0Cases/1M pop":"TotalCasesPer1M"})

In [152]:
mydf.replace('',0)

,Index,Countries,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,CriticalCases,TotalCasesPer1M
0,0,North America,25933086,+16935,552109,+1144,15888609,+8438,9492368,34886,0
1,0,Asia,21403064,+1539,347528,+25,19876497,+2070,1179039,24008,0
2,0,South America,13908737,+1644,375705,+23,12395199,+822,1137833,18587,0
3,0,Europe,25748035,0,586193,0,13808653,0,11353189,28547,0
4,0,Africa,3037007,0,72216,0,2461292,0,503499,2468,0
...,...,...,...,...,...,...,...,...,...,...,...
231,0,Total:,25748035,0,586193,0,13808653,0,11353189,28547,0
232,0,Total:,3037007,0,72216,0,2461292,0,503499,2468,0
233,0,Total:,48987,+43,1067,0,33643,0,14277,21,0
234,0,Total:,721,0,15,0,706,0,0,0,0
235,0,Total:,90079637,+20161,1934833,+1192,64464599,+11351,23680205,108517,11556.4

In [153]:

mydf.replace(',','', regex=True, inplace=True)
mydf.head(10)

,Index,Countries,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,CriticalCases,TotalCasesPer1M
0,,North America,25933086,+16935,552109,+1144,15888609,+8438,9492368,34886,
1,,Asia,21403064,+1539,347528,+25,19876497,+2070,1179039,24008,
2,,South America,13908737,+1644,375705,+23,12395199,+822,1137833,18587,
3,,Europe,25748035,,586193,,13808653,,11353189,28547,
4,,Africa,3037007,,72216,,2461292,,503499,2468,
5,,Oceania,48987,+43,1067,,33643,+21,14277,21,
6,,,721,,15,,706,,0,0,
7,,World,90079637,+20161,1934833,+1192,64464599,+11351,23680205,108517,11556
8,1,USA,22699938,,381480,,13393078,,8925380,29012,68368
9,2,India,10451346,,151048,,10075950,+555,224348,8944,7535

In [154]:
#drop unnecessary rows 
mydf.drop(mydf.index[[0,1,2,3,4,5,6,7]])

,Index,Countries,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,CriticalCases,TotalCasesPer1M
8,1,USA,22699938,,381480,,13393078,,8925380,29012,68368
9,2,India,10451346,,151048,,10075950,+555,224348,8944,7535
10,3,Brazil,8075998,,202657,,7144011,,729330,8318,37853
11,4,Russia,3379103,,61381,,2754809,,562913,2300,23150
12,5,UK,3017409,,80868,,1406967,,1529574,3098,44326
...,...,...,...,...,...,...,...,...,...,...,...
231,,Total:,25748035,,586193,,13808653,,11353189,28547,
232,,Total:,3037007,,72216,,2461292,,503499,2468,
233,,Total:,48987,+43,1067,,33643,,14277,21,
234,,Total:,721,,15,,706,,0,0,
235,,Total:,90079637,+20161,1934833,+1192,64464599,+11351,23680205,108517,11556.4

In [155]:

mydf['Countries'].astype('string')
mydf['TotalCases'].astype('int')
mydf['NewCases'].astype('int')
mydf['TotalDeaths'].astype('int')
mydf['NewDeaths'].astype('int64')
mydf['TotalRecovered'].astype('int64')
mydf['NewRecovered'].astype('int64')
mydf['ActiveCases'].astype('int64')
mydf['CriticalCases'].astype('int64')
mydf['TotalCasesPer1M'].astype('int64')

ValueError: invalid literal for int() with base 10: ''